<h1>Add a film</h1>
<form action="" method="POST">
	<div id="adding">
		<input type="text" placeholder="title" name="title">
	
		<input type="text" placeholder="director" name="director">

		
		<input type="text" placeholder="year" name="year">
		
	
		<button type="submit">Add</button>
	</div>
</form>
