<!DOCTYPE html>
<html>
    <a href="../index.handlebars"> Home </a>
    <a href="../about.handlebars"> About </a>
    <head>
        {{head}}
    </head>
        
    <body>
        {{body}}
    </body>
</html>
